*
!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/.gitignore
!/.gitmodules
!/.gitattributes
!/src/
!/src/**
!/Shijima-Qt.app/
!/Shijima-Qt.app/Contents/
!/Shijima-Qt.app/Contents/Resources/
!/Shijima-Qt.app/Contents/Resources/AppIcon.icns
!/Shijima-Qt.app/Contents/Info.plist
!/Makefile
!/common.mk
!/dev-docker/
!/dev-docker/Dockerfile
!/Platform/
!/Platform/**
!/find_dlls.sh
!/scripts/
!/scripts/**
!/com.pixelomer.ShijimaQt.png
!/shijima-qt.ico
!/com.pixelomer.ShijimaQt.desktop
!/com.pixelomer.ShijimaQt.metainfo.xml
!/resources.rc
!/libshimejifinder
!/libshijima
!/README.md
!/licenses/
!/licenses/**
!/bundle-default.sh
!/DefaultMascot/
!/DefaultMascot/**
!/cpp-httplib
!/HTTP-API.md
!/LICENSE
!/docs/
!/docs/**
!/.images/
!/.images/**

# Generated / Built files
licenses_generated.hpp
api_doc_generated.hpp
DefaultMascot.cc
src/core/DefaultMascot.cc
*.o
*.d
*.a
*.exe
*.dylib
*.so
*.so.*
publish/
shijima-qt
Shijima-Qt.AppImage

# User data & credentials
config.json
memory.json
message_history.json
music_favorites.db
.DS_Store

